<div class="grid pt-6">
  <div class="col-6">
    <div class="p-3">
      <p class="text-2xl accent-color">
        <span class="font-bold">¡Hola {{ profileTrainer.fullName }}!</span></p>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <div class="p-3">
      <div class="profile-container">
        <div class="p-8 profile-container-color">
          <p class="text-lg white-color font-bold pb-5 text-image">Entrenador</p>
          <div class="profile-image align-content-center">
            <img *ngIf="trainerImage == undefined" class="toolbar-image" ngSrc="assets/img/default.png" alt="Pokemon" height="360" width="360">
            <img *ngIf="trainerImage != undefined" class="toolbar-image" [src]="trainerImage" alt="Trainer" height="1839" width="5000">
          </div>
          <p *ngIf="profileTrainer.hobbies.length > 0" class="text-sm white-color font-light text-image"><span
            class="font-medium">Pasatiempo: </span></p>
          <p class="text-sm white-color font-light text-image" *ngFor="let hobby of profileTrainer.hobbies">
            {{hobby}}
          </p>
          <p class="text-sm white-color font-light text-image"><span
            class="font-medium">Edad: </span>{{ profileTrainer.age }}</p>
          <p class="text-sm white-color font-light text-image"><span class="font-medium">{{ profileTrainer.typeIdentity }}:</span></p>
          <p class="text-sm white-color font-light text-image">{{profileTrainer.identity}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="p-3 ">
      <p class="accent-color text-2xl">Mis Pokémon</p>
      <div *ngFor="let pokemon of pokemonsSelected" class="grid mt-3">
        <div class="col">
          <div class="p-3 border-round-sm bg-primary font-bold">
            <div class="flex flex-wrap column-gap-4 row-gap-6 pt-3">
              <div
                class="border-round w-12rem h-6rem bg-primary flex flex-column align-items-center justify-content-center mt-5">
                <img class="card-view-image" [src]="getPokemonImageUrl(pokemon)" alt="" height="1839" width="5000">
                <span class="card-subtitle">#{{ pokemon.id | threeDigits }} {{ pokemon.name | titlecase }}
                </span>
              </div>
              <div class="flex flex-column font-normal">
                <p *ngFor="let stat of pokemon.stats">{{getStatName(stat.stat.name)}}:
                  <mat-progress-bar mode="determinate" value="{{stat.base_stat}}"></mat-progress-bar>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="continue-button mt-5" (click)="payment()">Pagar</button>
    </div>
  </div>
</div>
