<div class="grid pt-6">
  <div class="col-6">
    <div class="p-3">
      <p class="text-2xl accent-color">
        <mat-icon (click)="backToProfile();">arrow_back_ios_new</mat-icon>
        <span class="font-bold">{{ message }}</span></p>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <div class="p-3">
      <div class="profile-container">
        <div class="p-8 profile-container-color">
          <p class="text-lg white-color font-bold pb-5 text-image">{{ profileTrainer.fullName }}</p>
          <div class="profile-image align-content-center">
            <img class="toolbar-image" ngSrc="assets/img/logo.png" alt="Pokemon" height="1839" width="5000">
          </div>
          <p *ngIf="profileTrainer.hobbies.length !== undefined" class="text-sm white-color font-light text-image"><span class="font-medium">Pasatiempo: </span></p>
          <p class="text-sm white-color font-light text-image" *ngFor="let hobby of profileTrainer.hobbies">
            {{hobby}}
          </p>
          <p class="text-sm white-color font-light text-image"><span class="font-medium">Edad: </span>{{ profileTrainer.age }}</p>
          <p class="text-sm white-color font-light text-image"><span class="font-medium">{{ profileTrainer.typeIdentity }}
            : </span>{{ profileTrainer.identity }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="p-3 ">
      <p class="accent-color text-lg">Pokémon</p>
      <p class="secondary-color">Selecciona 3 Pokémon para que sean parte de tu equipo</p>
      <div class="field">
        <mat-form-field appearance="outline">
          <input type="text" (keyup.enter)="searchTag()" #txtTagInput matInput placeholder="Buscar por índice o nombre... luego presione enter">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
        <app-card-list [pokemonsSelected]="pokemonsSelected"></app-card-list>

      <button *ngIf="pokemonsSelected.length !== undefined && pokemonsSelected.length == 3" class="continue-button mt-5" (click)="save()">Guardar</button>

    </div>
  </div>
</div>
