/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.accent-color{
  color: #185a7d;
}

.secondary-color{
  color: #7e7e7e;
}

.white-color{
  color: #FFF;
}

mat-form-field {
  width: 75%;
}

.toolbar{
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width:100%;
  position: fixed;
  top:0;
}

.toolbar-image {
  height: 90%;
  width: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container-color{
  background-color: #00693c;
  border-radius: 60px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #fff;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-image{
  text-align: center;
}

.upload-button {
  background-color: #f6f6f6;
  color: #075cc0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-style:dashed;
  border-color: #075cc0;
}

.continue-button {
  background-color: #01426a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bg-primary{
  background-color: #f2f2f2 !important;
  border-radius: 20px !important;
  position: relative !important;
}

.card-subtitle{
  background-color: #01426a !important;
  border-radius: 15px !important;
  color: #FFFFFF;
  padding: 2px 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.card-image {
  height: 100px;
  margin-top: -30px;
  max-width: 100%;
  max-height: 100%;
}

.card-subtitle span,
.card-subtitle mat-icon {
  display: inline;
}

.card-view-image {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
}

.payment-button {
  background-color: #fc4e4e;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-style:outset;
  border-color: #ffffff;
}
